:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  --LeagueSpartan: 'League Spartan', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 15px;
  font-family: var(--LeagueSpartan);
}

main.container {
  background-color:var(--White) ;
  max-width: 330px;
  margin: auto;
  padding: 1rem;
  border: 1px solid grey;
}

.sec-review {
  padding: 3rem 0.5rem;
  text-align: center;
}
.sec-review h1 {
  color: var(--VeryDarkMagenta);
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.sec-review p {
  color: var(--DarkGrayishMagenta);
  line-height: 1.5rem;
}

.sec-rating {
  padding: 2rem 0;
  text-align: center;
}
.sec-rating p {
  color: var(--VeryDarkMagenta);
  font-weight: 700;
}
.content-rating{
  display: flex;
  flex-direction: column;
}
.row{
  background-color: var(--LightGrayishMagenta);
  padding: 1rem 0;
  margin: 0.5rem 0;
  border-radius: 10px;
}
.row-icon {
  padding: 0.5rem;
  padding-bottom: 1rem;
}
.row-icon svg {
  margin-left: 0.5rem;
}
.card {
  background-color: var(--VeryDarkMagenta);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 2rem;
  height: 15rem;
}

.card-title{
  display: flex;
  padding-bottom: 1.5rem;
  align-items: center;
}
.card-name {
  width: 75%;
}
.card h2 {
  color: var(--White);
  font-weight: 500;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
.card h3 {
  color: var(--SoftPink);
  opacity: 0.5;
  font-size: 1rem;
}

.card-img {
  width: 25%;
  
}
.card-img img{
  width: 2.5rem;
  border-radius: 50px;
  
}

.card p {
  color: var(--White);
  line-height: 1.5rem;
}

.sec-comments {
  padding: 2rem 0;
}

.attribution {
  text-align: center;
  padding: 1rem;
}